.wrapper1 {
    display: flex;
    justify-content:center;
    min-height: 5vh;
    background-color:#7381BE;
    height: 80px;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content:space-evenly;
     margin-top: 15px;
    width: 100%;
    font-size: large;
    font-weight: bold;
    
   
}
.button{
    width:5em;
    /* height: 2em; */
    color: #1633AF;
    background:none;
    border: none;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    margin-bottom: 12px;
}
.link{
    margin-top: 20px;   
}
